.contactForm {
    font-family: sans-serif;

    width: 300px;
    border-radius: 5px;
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    flex-flow: column;

    -webkit-box-shadow: 7px 10px 16px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 16px -10px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 16px -10px rgba(0,0,0,0.75);
}

div {
    padding: 5px;
}

.customInputComponent {
    display: flex;
    justify-content: space-between;
}

.buttonGroup {
    float: right;
}

.buttonGroup > button {
    margin-left: 15px;
}

.summaryItem {
    display: flex;
    flex-flow: row;
}

.summaryItem > :first-child {
    width: 80px;
}